<br>
<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="50">
    <mat-card-header>
      <div class="center">
        <img style="width:125px;height:125px;" [hidden]="!srcLoaded" matTooltipPosition="below" matTooltip="Drop new image here"
          [@imageHover]="isHovering ? 'hoveringImage' : 'notHoveringImage'" appUpload (hovering)="hovering($event)" (dropped)="uploadNewImage($event)"
          [src]="isHovering ? '/assets/ic_cloud_upload_black_48px.svg' : wish?.imageUrl" (load)="srcLoaded = true">
        <mat-spinner mat-card-avatar diameter="100" *ngIf="!srcLoaded"></mat-spinner>
      </div>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="addWish()" [formGroup]="newWishForm" fxLayout="column" novalidate>
        <mat-form-field fxFlex>
          <input matInput placeholder="What is your wish?" formControlName="name">
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="What's the average price?" formControlName="price">
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Let's add a website link!" formControlName="link">
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Short description:" formControlName="description">
        </mat-form-field>
        <bar-rating fxFlexAlign="center" formControlName="rating" [(ngModel)]="rate" [max]="5" [theme]="'stars'"></bar-rating>
        <button mat-icon-button type="submit" fxFlexAlign="end">
          <mat-icon color="accent">save</mat-icon>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
