<mat-toolbar class="special">
<mat-toolbar-row fxLayout="row">
    <span fxFlex fxFlexOffset="10px">
  <button mat-button
          color="primary"
          (click)="home()">
          <img src="../../../assets/logo.png" height="64" width="64"/>
    WishMe
    </button>
    </span>
  <div *ngIf="isLoggedIn == true">
    <button mat-button (click)="logout()" color="primary">Logout</button>
  </div>
  <div *ngIf="isLoggedIn != true">
    <button mat-button (click)="login()" color="primary">Login</button>
  </div>
</mat-toolbar-row>
</mat-toolbar>
