<form [formGroup]="form" (ngSubmit)="save()">
  <div fxLayout="column" fxLayoutAlign="center">
    <div>
      <h1 mat-dialog-title>Edit Wish List Name</h1>
      <mat-dialog-content>
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Enter wish list name">
          <mat-error *ngIf="fcErr('name', 'required')">
            name is required
          </mat-error>
        </mat-form-field>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button type="button" mat-dialog-close color="warn">Cancel</button>
        <button mat-button type="submit" color="accent">Save</button>
      </mat-dialog-actions>
    </div>
  </div>
</form>
