<br>
<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="50" *ngIf="!signedUp">
    <mat-card-header>
      <mat-card-title>
        <h2>
          <b>Signup</b>
        </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="signupForm" novalidate fxLayout="column">
        <mat-form-field fxFlex style="transform: perspective(1px)">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="formControlError('email', 'required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="formControlError('email', 'email', ['required'])">
            Email is invalid
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field fxFlex>
          <input matInput placeholder="Password" type="password" formControlName="password">
          <mat-error *ngIf="formControlError('password', 'required')">
            Password is required
          </mat-error>
          <mat-error *ngIf="formControlError('password', 'minLength', ['required'])">
            Password has to consist of at least 6 characters
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Repeat Password" type="password" formControlName="repeatedPass">
          <mat-error *ngIf="formControlError('repeatedPass', 'required')">
            Rrepeated password is required
          </mat-error>
          <mat-error *ngIf="formControlError('repeatedPass', 'not-matching-pass', ['required'])">
            Rrepeated password does not match
          </mat-error>
        </mat-form-field>
        <div fxLayout="row" fx-flex fxFlexAlign="end">
          <button mat-fab color="primary" [disabled]="signupForm.invalid" (click)="signUp()">
            <mat-icon style="color:white">save</mat-icon>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<br>
<div>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="50" *ngIf="signedUp">
      <mat-card-header>
        <mat-card-title>
          <h2>
            <b>Profile data</b>
          </h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="saveUser()" [formGroup]="profileForm" novalidate fxLayout="column">
          <mat-form-field fxFlex>
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="fcErr('name', 'required')">
              name is required
            </mat-error>
            <mat-error *ngIf="fcErr('name', 'minlength', ['required'])">
              Name needs to be at least 2 characters
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="Contact email" formControlName="contactEmail">
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="Address" formControlName="address">
          </mat-form-field>
          <div fxLayout="row" fx-flex fxFlexAlign="end">
            <button *ngIf="!loading" mat-fab color="primary" type="submit" [disabled]="profileForm.invalid">
              <mat-icon style="color:white">save</mat-icon>
            </button>
            <mat-spinner mat-card-avatar diameter="55" *ngIf="loading"></mat-spinner>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
