.footer {
  transition: all 0.1s ease-in-out;
  text-align: center;
  position: fixed;
  left: 40%;
  bottom: 1px;
}

.text-block {
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
  text-shadow: 0 -1px 0 hsla(0, 0%, 41%, .5);
}
