
.fab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: stretch;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-container{
  display:-webkit-flex;
  display:flex;
  -webkit-flex-direction:column;
  flex-direction:column;
  -webkit-justify-content:center;
  justify-content:center;
  padding-left: 10%;
  padding-right: 10%;
}

.card-wishlist {
font-size: x-large;
  font-family: Roboto, Helvetica Neue, sans-serif;
color: dimgray;
  cursor: pointer;
}
.card-wishlist:hover {
  background:#f7f7f7;
  color: black;
}
