
<div id="content" class="content w-container">
  <div class="flex-container">

    <mat-card  style="font-size: x-large; font-family: Roboto, Helvetica Neue, sans-serif; cursor: pointer;">This is a Wishlist Card</mat-card>


     <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title style="font-size: x-large; font-family: 'Droid Sans', sans-serif">I always wanted a gift</mat-card-title>
      <mat-card-subtitle>340 DKK</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>


      <img mat-card-image style="max-width: 150px" src="..//assets/giftdefault.jpg" alt="Photo of a Default gift">
        A gift or a present is an item given to someone without the expectation of payment or return. An item is not a gift if that item is already owned by the one to whom it is given. Although gift-giving might involve an expectation of reciprocity, a gift is meant to be free. In many countries, the act of mutually exchanging money, goods, etc. may sustain social relations and contribute to social cohesion. Economists have elaborated the economics of gift-giving into the notion of a gift economy. By extension the term gift can refer to any item or act of service that makes the other happier or less sad, especially as a favor, including forgiveness and kindness. Gifts are also first and foremost presented on occasions such as birthdays and holidays.



    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE IT</button>
        <button mat-button>SOME BUTTON</button>
    </mat-card-actions>
  </mat-card>
  </div>

  </div>
  <div fxLayout="column" class="fab" style="background-color: chartreuse">
    <button fxFlexAlign="end" mat-fab style="alignment: bottom" color="primaryDark"><mat-icon>playlist_add</mat-icon></button>

</div>


