.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.fab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: stretch;
}



.flex-container{
  padding-left: 10%;
  padding-right: 10%;
}
.size { font-size: 50px;}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

